
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@400;600;700&family=Varela+Round&display=swap');

html {
  height: 100%;              /* for the page to take full window height */
  box-sizing: border-box;    /* to have the footer displayed at the bottom of the page without scrolling */
}

*,
*:before,
*:after {
  box-sizing: inherit;       /* enable the "border-box effect" everywhere */
}

.body-for-sticky {
  position: relative;        /* for the footer to move with the page size */
  min-height: 100%;          /* for the footer to be at the bottom */
  padding-bottom: 3rem;      /* Space available between last element and bottom border of the page */
}

.sticky-footer {
  position: absolute;        /* for it to disappear under last body element */
  bottom: 0;                 /* so the footer can stick to the bottom*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 /* white-space: nowrap;*/
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pageMargin {
  margin-left: 100px;
  width: 500px;
  border: 3px solid black;
}

.headerMenu{
  text-align: center;
  padding-right: 20px;
  white-space: nowrap;
}


.headerPadding{
  padding-top: 20px;
  padding-bottom: 20px;
}


.headerBorder{
  border-bottom:2px solid lightgray;
  display: flex;
  flex-direction: row;
  padding-left: 200px;
  padding-right: 200px;
  
}

.headerText{
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  text-decoration: none !important;
}

.loginButtonPosition{
  margin-left: auto
}

.signedInUser_noOverlap{
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.signedInUser_inline{
  display: inline !important;
}

.signedInUser_Name {
  font-size: 14px;
  padding-left: 10px;
  
}

.signedInUser_Picture{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.footerPosition{
  left:0;
  bottom:0;

  width:100%;
  background:white;
  display: block;

  display: flex;
  padding-left: 200px;
  padding-right: 200px;

  border-top: 1px solid lightgray;
}

.footerPadding{
  padding-top: 30px;
  padding-bottom: 20px;
}

.footerMenuItems{
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  flex-direction: row;
  padding-right: 20px;
}

.homeBackground{
  background-color: linear-gradient(rgb(248, 250, 253) 0%, rgba(248, 250, 253, 0) 413px);
  
  height: 85vh;
  width: 100%;
}

.homePreventOverlap{
  min-height: 800px;
}

.homeTextHeader{
  padding-top: 50px;
  text-align: center;
  font-size: 46px;
  font-family: 'Raleway', sans-serif;
}

.homeTextSubHeader{
  padding-top: 30px;
  text-align: center;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
}

.centerButton{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Already signed in user*/
.btn-grad_HomePage_SignedInUser {
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to right, #314975 0%, #436196  51%, #2c4471  100%);
  margin: 10px;
  padding:20px 90px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}

.btn-grad_facebook_header {
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to right, #314975 0%, #436196  51%, #2c4471  100%);
  padding:10px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}

.btn-grad_facebook_header:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}


                
         
.btn-grad_facebook {
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to right, #314975 0%, #436196  51%, #2c4471  100%);
  margin: 10px;
  padding:20px 90px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}

.btn-grad_facebook:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.btn-grad_logout {
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to right, #314975 0%, #436196  51%, #2c4471  100%);
  margin-left: 10px;
  padding:8px 20px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}

.btn-grad_logout:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
         
.btn-grad_home_Leaders {
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to right, #fc00ff 0%, #00dbde  51%, #fc00ff  100%);
  padding: 9px 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
}

.btn-grad_home_Leaders:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}


         
.btn-grad_mysentimen_chart {
  font-family: 'Varela Round', sans-serif;
  background-image: linear-gradient(to right, #136a8a 0%, #267871  51%, #136a8a  100%);
  margin: 10px;
  padding: 15px 65px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white !important;            
  box-shadow: 0 0 20px #eee;
  border-radius: 50px;
  display: block;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.btn-grad_mysentimen_chart:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* Chart Component */

.chartHeader {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  float: left;
}

.chartPadding{
  padding-top: 50px;
}

table {
  border-collapse: collapse;
  font-family: 'Raleway', sans-serif;
  text-align: left;

}
  
th {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  padding-bottom: 20px;
  padding-top:20px;
  padding-right: 15px;
  
}

th, td {
  border-bottom: 1px solid #ddd;
  border-spacing: none;
  padding-right: 40px;
}

table tr:hover {
  background-color: rgb(236, 236, 236);
}

table tr td small {
  opacity: 0.1;
}

table tr:hover td small {
  opacity: 0.2;
}

.rankAlign {
  text-align: center;
}

.pageCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

.sentimenText {
  font-weight: bold;
}

.politicianPictureOverlap{
  white-space: nowrap;
  display: flex;
  align-items: center;
}


.politicianPicture{
  height: 42px;
  width: 30px;
  border-radius: 20%;
  display: inline;
  white-space: nowrap;
  
}

.politicianName_Chart {
  padding-left: 15px;
  
}

/*Politicians Page*/
/* Politician Card */

.politician_container {
  padding-top: 40px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.5fr 1.5fr; 
  gap: 5px 20px; 
  grid-template-areas: 
    "Display-Name Live-Comments"
    "Charts Live-Comments"; 
}
.Live-Comments { grid-area: Live-Comments; }
.Display-Name { grid-area: Display-Name; }
.Charts { grid-area: Charts; }

.politicianCard {
  border: solid 1px rgb(210, 210, 210);
  min-width: 630px;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  
  
  
}

.politicianCard_padding{
  padding: 30px;
  display: flex;
  align-items: center;
}

.politicianCard_name {
  font-weight: bold;
  font-size: 24px;
  width: 400px;
  
}

.politicianCard_subtext{
  font-size: 17px;
  width: 350px;
}

.politicianCard_subtextPadding{
  padding-top: 10px;

}

.politicianCard_picture{
  width: 70px;
  height: 95px;
  border-radius: 20%;
  
}

.politicianCard_picturePosition{
  float: left;
  align-items: center;
}

.politicianDetailInline{
  float: right;
  padding-left: 20px;
}

.politcianCard_SentimenText{
  font-size: 40px;
  font-weight: bold;
}

.politicianSentimenPadding{
  
}

/* Live Comments */
.liveCommentCard {
  border: solid 1px rgb(210, 210, 210);
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  max-width: 500px;
  max-height: 500px;
  float: right;
  overflow: scroll;
}

.liveCommentCard_Header {
  font-weight: bold;
  font-size: 24px;
}

.liveCommentCard_padding{
  padding: 30px;
}

.liveCommentCard_Username{
  font-weight: bold;
  font-size: 14px;
}

.liveCommentCard_Timestamp{
  color : grey;
  font-size: 11px;
}

.liveComment_Comment{
  padding-top: 20px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.liveComment_IndividualCard {
  padding: 10px 10px;
  border-bottom: 1px solid lightgray;
}

.liveComment_Sentimen {
  float: right;
  font-weight: bold;
  font-size: 10px;
}

         
.btn-grad_Sentimen_Support {
  background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

}

         
.btn-grad_Sentimen_Against {
  background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;

}

/*Comment Section*/

.comment_Location{
  padding-top: 30px;
  margin-bottom: auto;
  margin-top: auto;
  display: flex
  
}

textarea {
  width:500px;
  height:120px;
  border: 4px solid lightgrey;
  border-radius: 20px;
  padding-left: 20px;
  padding-top:14px;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;

}

textarea:focus{
  outline: 1px solid #cc00ff !important;
}

.comment_sentimenLocation {
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}

         
.btn-grad_commentSupport {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to right, #0cebeb 0%, #20e3b2  51%, #0cebeb  100%);
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  border: none;
}

.btn-grad_commentSupport:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

         
.btn-grad_commentAgainst {
  margin-top: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to right, #ee0979 0%, #ff6a00  51%, #ee0979  100%);
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  border: none;
}

.btn-grad_commentAgainst:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.emojiLocation {
  display: inline;
}

         
.btn-grad_commentSubmit {
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  border: none;
}

.btn-grad_commentSubmit {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-grad_commentSignIn {
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px ;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  border: none;
}


/* Live Chart Component */

.liveChart_Border {
  border: solid 1px lightgray;
  border-radius: 20px;
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.liveChart_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User Settings  */
.settingsSubText {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  
}

/*Privacy Notice */
.contentMargin{
  font-family: 'Raleway', sans-serif;
  padding-left: 200px;
  width: 80%;
}

.pageSize{
  height: 750px;
   white-space: nowrap;
}

.imageReduceSize{
  width: 40%;
}













